@import "tailwindcss";

@theme {
  --color-temporal-bg: #050505;
  --color-temporal-text: #ededed;
  --color-temporal-accent: #33ff99;
  --color-temporal-muted: #888888;
  --color-temporal-border: #222222;
  
  --font-mono: "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-sans: "Inter", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
}

@layer base {
  body {
    @apply bg-temporal-bg text-temporal-text font-sans antialiased selection:bg-temporal-accent selection:text-temporal-bg;
  }
}
